<a href="https://colab.research.google.com/github/TolueneAI/HAMOYE-STAGE-1-Fuel-Quality-Data/blob/master/HAMOYE_STAGE_1_QUIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
A = [1,2,3,4,5,6]

In [3]:
 B = [13, 21, 34]

In [6]:
A

[1, 2, 3, 4, 5, 6]

In [7]:
B

[13, 21, 34]

In [25]:
A_B = A.extend[12]

TypeError: ignored

In [26]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
fuel_data = pd.read_csv(r'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [31]:
fuel_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [78]:
fuel_data['fuel_cost_per_unit_burned'].mean()

208.64903102665716

In [34]:
fuel_data['fuel_type_code_pudl'].describe()

count     29523
unique        6
top         gas
freq      11486
Name: fuel_type_code_pudl, dtype: object

In [35]:
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [37]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [38]:
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

In [39]:
 fuel_data.isna().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [40]:
fuel_data.dropna().count()

record_id                       29343
utility_id_ferc1                29343
report_year                     29343
plant_name_ferc1                29343
fuel_type_code_pudl             29343
fuel_unit                       29343
fuel_qty_burned                 29343
fuel_mmbtu_per_unit             29343
fuel_cost_per_unit_burned       29343
fuel_cost_per_unit_delivered    29343
fuel_cost_per_mmbtu             29343
dtype: int64

In [42]:
fuel_data.shape

(29523, 11)

In [49]:
percentage_missing = (29343/29523)*100

In [50]:
percentage_missing

99.39030586322528

In [53]:
fuel_data['fuel_unit'].describe()

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

In [54]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [58]:
fuel_data['fuel_cost_per_unit_burned'].head(50)

0        18.590
1        18.580
2        39.720
3        47.210
4         2.770
5        44.240
6        28.770
7        58.540
8        33.970
9        28.730
10        1.940
11       28.710
12        1.940
13       30.248
14       32.130
15       44.404
16       44.312
17       36.268
18       46.024
19       33.321
20       39.911
21       30.319
22       39.850
23       32.184
24       40.144
25       32.186
26       31.520
27       32.650
28        2.490
29       21.170
30        2.690
31       21.990
32        2.980
33        2.180
34       33.700
35        2.210
36       39.140
37        2.380
38       24.020
39        2.300
40       39.880
41        2.540
42        2.210
43       53.710
44        1.930
45    40803.000
46       30.410
47        2.290
48       44.920
49       34.180
Name: fuel_cost_per_unit_burned, dtype: float64

In [59]:
fuel_data.head(50)

                 record_id  ...  fuel_cost_per_mmbtu
0    f1_fuel_1994_12_1_0_7  ...                1.121
1   f1_fuel_1994_12_1_0_10  ...                1.120
2    f1_fuel_1994_12_2_0_1  ...                1.650
3    f1_fuel_1994_12_2_0_7  ...                1.970
4   f1_fuel_1994_12_2_0_10  ...                2.570
5   f1_fuel_1994_12_2_0_13  ...                1.850
6    f1_fuel_1994_12_2_1_1  ...                0.450
7   f1_fuel_1994_12_2_1_10  ...                2.360
8   f1_fuel_1994_12_2_2_10  ...                1.400
9    f1_fuel_1994_12_4_0_1  ...                1.278
10   f1_fuel_1994_12_4_0_2  ...               13.900
11   f1_fuel_1994_12_4_0_4  ...                1.280
12   f1_fuel_1994_12_4_0_5  ...                1.900
13   f1_fuel_1994_12_6_0_1  ...                1.208
14   f1_fuel_1994_12_6_0_2  ...                5.469
15   f1_fuel_1994_12_6_0_4  ...                1.812
16   f1_fuel_1994_12_6_0_7  ...                1.806
17  f1_fuel_1994_12_6_0_10  ...                1.404
18  f1_fuel_1994_12_6_0_13  ...                1.829
19  f1_fuel_1994_12_6_0_14  ...                5.770
20   f1_fuel_1994_12_6_1_7  ...                1.627
21   f1_fuel_1994_12_6_1_8  ...                5.187
22  f1_fuel_1994_12_6_1_10  ...                1.638
23  f1_fuel_1994_12_6_1_11  ...                5.604
24  f1_fuel_1994_12_6_1_13  ...                1.650
25  f1_fuel_1994_12_6_1_14  ...                5.605
26   f1_fuel_1994_12_7_0_1  ...                1.580
27   f1_fuel_1994_12_7_0_2  ...                5.580
28   f1_fuel_1994_12_7_0_3  ...                2.820
29   f1_fuel_1994_12_7_0_7  ...                1.210
30   f1_fuel_1994_12_7_0_8  ...                2.650
31  f1_fuel_1994_12_7_0_10  ...                1.260
32  f1_fuel_1994_12_7_0_11  ...                2.940
33  f1_fuel_1994_12_7_0_13  ...                2.130
34   f1_fuel_1994_12_7_1_1  ...                5.700
35   f1_fuel_1994_12_7_1_2  ...                2.150
36   f1_fuel_1994_12_7_1_4  ...                6.350
37   f1_fuel_1994_12_7_1_5  ...                2.320
38  f1_fuel_1994_12_7_1_10  ...                1.090
39   f1_fuel_1994_12_7_2_2  ...                2.240
40   f1_fuel_1994_12_7_2_4  ...                6.830
41   f1_fuel_1994_12_7_2_7  ...                2.490
42  f1_fuel_1994_12_7_2_11  ...                2.170
43  f1_fuel_1994_12_7_2_13  ...                9.230
44  f1_fuel_1994_12_7_2_14  ...                1.880
45   f1_fuel_1994_12_7_3_1  ...                0.580
46   f1_fuel_1994_12_7_3_7  ...                5.210
47   f1_fuel_1994_12_7_3_8  ...                2.250
48   f1_fuel_1994_12_9_0_2  ...                1.859
49   f1_fuel_1994_12_9_0_3  ...                1.072

[50 rows x 11 columns]

In [60]:
fuel_data['fuel_type_code_pudl'].value_counts

<bound method IndexOpsMixin.value_counts of 0        coal
1        coal
2        coal
3        coal
4         gas
         ...
29518     gas
29519     gas
29520     gas
29521    coal
29522     gas
Name: fuel_type_code_pudl, Length: 29523, dtype: object>

In [67]:
fuel_data.iloc[5000:5050]

                     record_id  ...  fuel_cost_per_mmbtu
5000   f1_fuel_1998_12_133_0_6  ...              5.12000
5001   f1_fuel_1998_12_133_0_8  ...              2.51000
5002   f1_fuel_1998_12_133_1_5  ...              2.71000
5003   f1_fuel_1998_12_133_2_2  ...              2.58000
5004  f1_fuel_1998_12_133_2_14  ...              2.58000
5005   f1_fuel_1998_12_133_3_2  ...              2.58000
5006   f1_fuel_1998_12_136_0_1  ...              0.52900
5007   f1_fuel_1998_12_136_0_4  ...              1.36700
5008   f1_fuel_1998_12_136_0_7  ...              1.53600
5009  f1_fuel_1998_12_136_0_10  ...              1.16800
5010   f1_fuel_1998_12_136_1_1  ...              1.23000
5011   f1_fuel_1998_12_136_1_4  ...              1.37300
5012   f1_fuel_1998_12_136_2_1  ...              2.19700
5013   f1_fuel_1998_12_136_2_5  ...              2.66600
5014   f1_fuel_1998_12_137_0_1  ...              1.21500
5015   f1_fuel_1998_12_137_0_4  ...              1.18800
5016   f1_fuel_1998_12_137_0_7  ...              1.70000
5017   f1_fuel_1998_12_141_0_1  ...              1.13200
5018   f1_fuel_1998_12_141_0_7  ...              1.78900
5019   f1_fuel_1998_12_141_0_8  ...              5.05900
5020  f1_fuel_1998_12_141_0_10  ...              1.82500
5021  f1_fuel_1998_12_141_0_13  ...              1.38800
5022  f1_fuel_1998_12_141_0_14  ...              7.57100
5023   f1_fuel_1998_12_142_0_1  ...              1.33575
5024   f1_fuel_1998_12_142_0_4  ...              1.41947
5025   f1_fuel_1998_12_142_0_7  ...              1.24269
5026  f1_fuel_1998_12_142_0_10  ...              1.11130
5027  f1_fuel_1998_12_142_0_13  ...              1.10623
5028   f1_fuel_1998_12_142_1_7  ...              1.43649
5029   f1_fuel_1998_12_143_0_7  ...              1.46400
5030  f1_fuel_1998_12_143_0_10  ...              2.41800
5031  f1_fuel_1998_12_143_0_13  ...              1.67600
5032   f1_fuel_1998_12_143_1_1  ...              1.54800
5033   f1_fuel_1998_12_143_1_7  ...              1.66900
5034   f1_fuel_1998_12_143_1_9  ...              2.84100
5035  f1_fuel_1998_12_143_1_10  ...              1.67200
5036  f1_fuel_1998_12_143_1_12  ...              2.78500
5037  f1_fuel_1998_12_143_1_13  ...              2.62100
5038   f1_fuel_1998_12_143_2_1  ...              1.12500
5039   f1_fuel_1998_12_143_2_2  ...              4.27100
5040   f1_fuel_1998_12_144_0_1  ...              1.07800
5041   f1_fuel_1998_12_144_0_4  ...              1.27400
5042   f1_fuel_1998_12_144_0_7  ...              1.11100
5043  f1_fuel_1998_12_144_0_10  ...              1.11000
5044  f1_fuel_1998_12_144_0_13  ...              1.23100
5045   f1_fuel_1998_12_144_1_1  ...              1.10100
5046   f1_fuel_1998_12_144_2_2  ...              1.05600
5047   f1_fuel_1998_12_148_0_1  ...              2.28600
5048   f1_fuel_1998_12_148_0_4  ...              2.34500
5049   f1_fuel_1998_12_148_0_7  ...              2.35500

[50 rows x 11 columns]

In [72]:
fuel_data['report_year'].describe()

count    29523.000000
mean      2005.806050
std          7.025483
min       1994.000000
25%       2000.000000
50%       2006.000000
75%       2012.000000
max       2018.000000
Name: report_year, dtype: float64

In [80]:
fuel_data['fuel_cost_per_unit_delivered'].mean()

917.5704491074691

In [81]:
fuel_data.tail(60)

                      record_id  ...  fuel_cost_per_mmbtu
29463  f1_fuel_2018_12_150_1_14  ...             16.52100
29464   f1_fuel_2018_12_150_2_1  ...              3.89200
29465   f1_fuel_2018_12_150_2_2  ...             20.32400
29466   f1_fuel_2018_12_150_2_4  ...             11.64400
29467   f1_fuel_2018_12_150_2_5  ...             20.32400
29468   f1_fuel_2018_12_193_0_1  ...              3.41796
29469   f1_fuel_2018_12_193_0_4  ...              2.09295
29470   f1_fuel_2018_12_193_0_6  ...              8.30998
29471   f1_fuel_2018_12_193_0_7  ...              3.10279
29472  f1_fuel_2018_12_193_0_10  ...              3.35184
29473  f1_fuel_2018_12_193_0_13  ...              1.63672
29474  f1_fuel_2018_12_193_0_15  ...              4.19660
29475   f1_fuel_2018_12_193_1_1  ...              2.36112
29476   f1_fuel_2018_12_193_1_5  ...              3.18960
29477   f1_fuel_2018_12_193_1_7  ...            273.82100
29478   f1_fuel_2018_12_193_1_9  ...              3.39919
29479  f1_fuel_2018_12_193_1_10  ...              2.07912
29480  f1_fuel_2018_12_193_1_12  ...              3.43815
29481  f1_fuel_2018_12_193_1_15  ...              4.14360
29482    f1_fuel_2018_12_80_0_2  ...              2.48300
29483    f1_fuel_2018_12_80_0_5  ...              2.31700
29484    f1_fuel_2018_12_80_0_6  ...             16.19100
29485    f1_fuel_2018_12_80_0_8  ...              2.03400
29486    f1_fuel_2018_12_80_0_9  ...             15.27700
29487   f1_fuel_2018_12_80_0_11  ...              1.87100
29488   f1_fuel_2018_12_80_0_12  ...             15.81300
29489   f1_fuel_2018_12_80_0_14  ...              1.78800
29490   f1_fuel_2018_12_80_0_15  ...             15.18100
29491    f1_fuel_2018_12_80_1_3  ...             15.60100
29492   f1_fuel_2018_12_191_0_2  ...              1.90100
29493   f1_fuel_2018_12_191_0_3  ...              6.25500
29494   f1_fuel_2018_12_191_0_5  ...              4.29500
29495   f1_fuel_2018_12_191_0_6  ...             16.21200
29496   f1_fuel_2018_12_191_0_8  ...              2.26700
29497  f1_fuel_2018_12_191_0_11  ...              3.52000
29498   f1_fuel_2018_12_191_1_2  ...              4.45000
29499   f1_fuel_2018_12_191_1_3  ...             17.55600
29500   f1_fuel_2018_12_191_1_6  ...             17.68500
29501   f1_fuel_2018_12_191_1_8  ...              1.78700
29502   f1_fuel_2018_12_191_1_9  ...             15.17400
29503  f1_fuel_2018_12_191_1_14  ...              1.49700
29504  f1_fuel_2018_12_191_1_15  ...              6.08400
29505   f1_fuel_2018_12_432_0_2  ...             17.79000
29506   f1_fuel_2018_12_432_0_5  ...             16.59000
29507   f1_fuel_2018_12_432_0_8  ...             17.16000
29508  f1_fuel_2018_12_432_0_11  ...              3.35000
29509  f1_fuel_2018_12_432_0_14  ...              3.51000
29510   f1_fuel_2018_12_403_0_2  ...              1.13000
29511   f1_fuel_2018_12_403_0_6  ...              3.36000
29512   f1_fuel_2018_12_403_0_9  ...              8.48000
29513    f1_fuel_2018_12_12_0_2  ...              5.36000
29514    f1_fuel_2018_12_12_0_4  ...              9.97000
29515    f1_fuel_2018_12_12_0_7  ...             15.93000
29516    f1_fuel_2018_12_12_0_8  ...              1.10000
29517   f1_fuel_2018_12_12_0_10  ...              0.89000
29518   f1_fuel_2018_12_12_0_13  ...              9.03000
29519    f1_fuel_2018_12_12_1_1  ...              6.95000
29520   f1_fuel_2018_12_12_1_10  ...              8.99000
29521   f1_fuel_2018_12_12_1_13  ...              1.11000
29522   f1_fuel_2018_12_12_1_14  ...             11.68000

[60 rows x 11 columns]

In [83]:
fuel_data['report_year'].describe()

count    29523.000000
mean      2005.806050
std          7.025483
min       1994.000000
25%       2000.000000
50%       2006.000000
75%       2012.000000
max       2018.000000
Name: report_year, dtype: float64